<p><%= @resource.email %>さん!</p>

<p>誰かがあなたのパスワードを変更したいようです。変更しますか？</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしあなたがこのリクエストを送っていないならば、このメールは無視して下さい。</p>
<p>あなたのパスワードは、上のリンクをクリックして、新しいパスワードを入力しない限り、変更されません。</p>
